:root {
  --mainOne: rgb(42, 42, 53);
  --mainTwo: #ccc;
  --mainThree: #f3f3f3;
  --mainFour: #232528;
  --mainFive: rgb(206, 129, 28);
  --mainSix: lightblue;
  --mainSeven: blue;
}

body {
  font-family: 'Chelsea Market', cursive !important;
  background-color: var(--mainThree) !important;
}

.title {
  font-family: 'Piedra', cursive !important; 
}

.mainBlue {
  color: var(--mainSix) !important;
}

.mainOrange {
  color: var(--mainFive) !important;
}

.mainDark {
  color: var(--mainFour) !important;
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainFour);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainFour) !important;
}

.btn-black:hover {
  background: var(--mainFour) !important;
  color: var(--mainThree) !important;
}

.cart-icon { 
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainFive);
}

